.about_us_page {

     display: flex;
     flex-direction: column;
}

.about_us_and_stats {
     display: flex;
     flex-direction: column;
     margin: 0 20px;
}

.about_us_container {

     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
}

.about_us {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     padding: 10px;
     margin: 15px;
}

.about_us_title {
     font-size: 40px;
}

.about_us_text {
     text-align: justify;
     margin-left: 15px;
}

.about_us_photo {
     height: 320px;
     width: 500px;
     border-radius: 15%;
     -webkit-mask-image: -webkit-radial-gradient(center, ellipse, white 10%, transparent 70%);
     mask-image: radial-gradient(ellipse at center, white 10%, transparent 0%);
}

.stats_container {
     margin: 25px 15px;
     display: flex;
     background-color: #00aff0;
     color: white;
     padding: 20px;
     justify-content: space-around;
     border-radius: 10px;
}

.stat {
     text-align: center;
}

.number {
     font-size: 48px;
     font-weight: bold;
}

.descriptor {
     font-size: 24px;
}

.management_team {
     display: flex;
     flex-direction: column;

}

.management_team_intro {
     height: auto;
     background-color: #91ddf4;
     width: 100%;
     margin: 20px 0px 40px 0px;

}

.management_title {
     font-size: 40px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     margin: 25px 0 0 35px;
     width: 400px
}

.management_team_intro .full_width_line {
     width: 50%;
     height: 2px;
     background-color: black;
     margin: 20px 0 20px 35px;
}

.management_description {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     margin: 25px 35px;
     width: 450px;
}

.management_cards_container {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
}

.management_card {
     margin: 100px 35px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
     height: auto;
     background-color: #91ddf4;
     -webkit-box-shadow: 0px 0px 67px 60px #91ddf4;
     -moz-box-shadow: 0px 0px 67px 60px #91ddf4;
     box-shadow: 0px 0px 67px 60px #91ddf4;

}

.management_card_info {
     display: flex;
     flex-direction: column;
     padding: 15px;
     width: 450px;
     height: auto;
}

.management_card_role {
     font-size: 20px;
}

.management_card_name {
     font-size: 40px;
     font-weight: bold;
}

.management_card_description {
     font-size: 20px;
     margin: 10px 0 15px 0;
}

.management_card_photo {
     height: auto;
     width: 300px;
     display: flex;
     justify-content: center;
     align-items: center;
   
}

.photo {
     height: 390px;
     width: 280px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 5%;
     border: black 2px solid;
}


.social_media {
     border-radius: 55%;
     height: 31px;
     width: 31px;
}

@media screen and (max-width: 912px) {
     .about_us_page {
         align-items: center;
         justify-content: center;
     }
 
     .about_us_container {
         flex-direction: column;
         margin: 10px;
     }
 
     .about_us_photo {
         width: 100%;
         height: auto;
         max-width: 500px;
     }
 
     .stats_container {
         flex-direction: column;
         margin: 10px;
     }
 
     .management_card {
         flex-direction: column;
         width: 80%;
         margin: 30px;
     }
 
     .management_card_photo, .management_card_info {
         width: 80%;
         text-align: center;
         margin: 10px;
     }
 
     .photo {
         max-width: 100%;
         height: auto;
     }
 }
 
 
