.contact_page {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
}

.contact_title {
     font-size: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 20px 0 0 0;
}

.contact_map_open_hours {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
}

.contact_map {
     height: 450px;
     width: 550px;
     margin: 10px 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: stretch;
}

.larger_map_button {
     margin: 10px;
}

.map {
     height: 350px;
     width: 500px;
     left: 0;
     margin: 10px;
     border-radius: 10px;
     border: 3px solid black;
}

.find_us {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-shadow: 0px -40px 1px #3a7ec7, 0px 40px 1px #b0c9e5,
          0px -80px 2px #3a7ec7, 0px 80px 2px #b0c9e5,
          0px -120px 3px #3a7ec7, 0px 120px 3px #b0c9e5;
     font-size: 25px;
     font-weight: 900;
     margin: 10px 20px;

}

.contact_open_hours {
     height: 350px;
     margin: 10px 20px 35px 20px;
}

th,
td {
     border: 2px solid black;
     text-align: center;
     font-size: 12px;
     padding: 4px;
}

.container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 400px;

}

.slider_wrapper {
     width: 650px;
     height: 400px;
     overflow: hidden;
}

.inner_wrapper {
     width: 400%;
     height: 100%;
     position: relative;
     left: -100%;
}

.slide {
     border: black 2px solid;
     width: 25%;
     height: 100%;
     float: left;
     position: relative;
     overflow: hidden;
     justify-content: center;
     align-items: center;
}

.slide img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
}


.button {
     width: 30px;
     height: 30px;
     border-top: 2px solid black;
     position: absolute;
     cursor: pointer;
}

.prev {
     border-left: 2px solid black;
     left: 10%;
     transform: rotate(-45deg);
}

.next {
     border-right: 2px solid black;
     right: 10%;
     transform: rotate(45deg);
}

.contact_us_contact_form {
     display: flex;
     justify-content: center;
     align-items: left;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
}

.full_width_line {
     width: 70%;
     height: 2px;
     background-color: black;
     margin: 20px;
     align-self: center;
}

.contact_us {
     display: flex;
     justify-content: center;
     font-size: 25px;
     font-weight: 900;
}

.contact_form {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: left;
     align-items: left;
     width: 500px;
     max-width: 900px;
     padding: 20px;
     background-color: #f7f7f7;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact_form label {
     font-size: 15px;
     font-weight: 700;
     margin: 5px;
}

.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form input[type="tel"] {
     padding: 10px;
     margin-bottom: 20px;
     border: 1px solid black;
     border-radius: 4px;
     box-sizing: border-box;
}

.contact_form textarea {
     padding: 10px;
     margin-bottom: 20px;
     border: 1px solid black;
     border-radius: 4px;
     box-sizing: border-box;
}

.button_container {
     display: flex;
     justify-content: center;
     align-self: center;
     width: 100px;
     border: 1px solid black;
     border-radius: 4px;
}

.contact_form button[type="submit"] {
     width: 100px;
     padding: 10px;
     background-color: white;
     border: 1px solid black;
     color: black;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-size: 16px;
}


@media screen and (max-width: 912px) {
     .contact_map_open_hours {
          flex-direction: column;
     }

     .contact_map {
          width: 80%;
          height: 350px;
          margin-bottom: 20px;
     }

     .map {
          width: 100%;
          height: 330px;
     }

     .find_us {
          margin: 10px;
          text-shadow: -180px 0px 1px #3a7ec7, 180px 0px 1px #b0c9e5,
               0px 0px 2px #3a7ec7, 0px 0px 2px #b0c9e5,
               0px 0px 3px #3a7ec7, 0px 0px 3px #b0c9e5;
     }

     .contact_us_contact_form {
          width: 100%;
          padding: 10px;
     }

     .contact_form {
          width: 55%;
          min-width: 350px;
     }

     .slider_wrapper {
          width: 70%;
     }
}

@media screen and (max-width: 768px) {
     .contact_title {
          font-size: 30px;
     }

     .find_us,
     .contact_us {
          font-size: 20px;
     }

     .find_us {
          text-shadow: -130px 0px 1px #3a7ec7, 130px 0px 1px #b0c9e5,
               0px 0px 2px #3a7ec7, 0px 0px 2px #b0c9e5,
               0px 0px 3px #3a7ec7, 0px 0px 3px #b0c9e5;
     }

     .contact_form label {
          font-size: 14px;
     }

     .contact_form input[type="text"],
     .contact_form input[type="email"],
     .contact_form input[type="tel"],
     .contact_form textarea {
          padding: 8px;
     }

     .contact_form button[type="submit"] {
          font-size: 14px;
     }
}