.footer_section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     align-content: center;
     margin: 35px 10px 15px 10px;
}

.copyright {
     font-size: 0.8em;
 }